.welcome
  .parallax-baloon
    .parallax-baloon__layer-sky.parallax-baloon__layer(data-speed="0.1")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/sky-desktophd.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/sky.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/sky-desktop.png"))
        img(src="" alt="")
    .parallax-baloon__layer-mountain.parallax-baloon__layer(data-speed="0.3")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/mountain.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/mountain.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/mountain-desktop.png"))
        img(src="" alt="")
    .parallax-baloon__layer-baloon.parallax-baloon__layer(data-speed="0.16")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/baloon.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/baloon.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/baloon.png"))
        img(src="" alt="")
    .parallax-baloon__layer-cloud.parallax-baloon__layer(data-speed="0.2")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/cloud.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/cloud.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/cloud-desktop.png"))
        img(src="" alt="")
    .parallax-baloon__layer-man.parallax-baloon__layer(data-speed="0.23")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/man.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/man.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/man.png"))
        img(src="" alt="")
    .parallax-baloon__layer-mountain-near.parallax-baloon__layer(data-speed="0.25")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/mountain-near.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/mountain-near.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/mountain-near.png"))
        img(src="" alt="")
    .parallax-baloon__layer-white.parallax-baloon__layer(data-speed="0.28")
      picture.parallax-baloon__img
        source(media="(min-width:2560px)" srcset=require("images/content/white.png"))
        source(media="(min-width:1800px)" srcset=require("images/content/white.png"))
        source(media="(min-width:1200px)" srcset=require("images/content/white-desktop.png"))
        img(src="" alt="")

  .container
    .welcome__wrap
      section.hero

        #header-component

        .hero__content
          .user-data
            .user-data__description Личный сайт #[br]веб разработчика
            .user-data__name Анна #[br]Архипова
        .hero__bottom-btn
          a(href="").scroll-down-btn Скролл
            +icon("scroll", "scroll-down-btn__icon")
          
      section.whoami
        .whoami__wrap
          .whoami__info
            .info
              .info-img
                .info-img__avatar
                  +image("content/user.jpg", "info-img__image", "фотография разработчика")
              table.info__table
                tr
                  td Проживаю:
                  td Хабаровск
                tr
                  td Возраст
                  td 24 года
                tr
                  td Родился
                  td 28 сентября 1995

          .whoami__description
            .description
              p.description__hello Привет, меня зовут
              p.description__name Анна Архипова
              p.description__profession Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p.description__note Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    
  section.section-values.welcome__section-value
    section.triangles.welcome__triangles
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.welcome-triangle
        polygon(points="0,0 0,100 1000,100")
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.welcome-triangle
        polygon(points="1000,0 1000,100 0,100")
